h3 {
    font-family: "Shadows Into Light", cursive;
}

.card {
    border: 2px solid #04194D;
    box-shadow: 5px 5px #878AF6;
    background-color: #EDEEFD;
    max-width: 1100px;
}

p,
strong {
    font-size: 1.1rem;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: -0.00875rem;
}

strong {
    font-weight: 600;
}

.carousel button {
    cursor: none;
}

.card-body {
    border-left: 2px solid #04194D;
    padding-left: 2.8rem;
}

.card-text span {
    color: #6064F6;
}

.carousel-item img {
    width: 230px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(0%) brightness(0%);
}

.carousel-indicators {
    top: 110%;
}

.carousel-indicators button {
    background-color: #6064F6;
}

@media (max-width: 992px) {

    .card-image {
        padding-right: 0;
        margin-bottom: 3rem;
    }

    .card-image img {
        max-width: 200px;
        width: 50%;
    }

    .card-body {
        margin: 0.6rem;
        border: none;
        padding: 0 30px;
    }

}