<section class="container center">
    <div class="card p-4">
        <div class="row center">
            <div class="card-image col-12 col-lg-4 text-center">
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4"
                            aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/carousel/avatar.jpg" class="d-block" alt="img avatar">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/carousel/indimetra.png" class="d-block" alt="img indimetra">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/carousel/vacantes.png" class="d-block" alt="img vacantes">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/carousel/tea.png" class="d-block" alt="img tea">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/carousel/pinceladas.png" class="d-block" alt="img pinceladas">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-label="Anterior" data-tooltip="Anterior"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-label="Siguiente" data-tooltip="Siguiente"></span>
                    </button>
                </div>
            </div>
            <div class="card-body col-12 col-lg-6">
                <div class="mb-3 text-uppercase">
                    <h3 class="fw-bold p-0">Patricia</h3>
                    <h3 class="fw-bold p-0">Gutiérrez Rivas</h3>
                </div>
                <div class="card-text">
                    <p><strong>De consultora en asesoría digital a desarrolladora web</strong></p>
                    <p>Mi trayectoria en el campo de la asesoría digital me ha permitido aprender a solucionar problemas
                        y a identificar fallos de manera efectiva. Trabajar con herramientas como Access y aplicaciones
                        personalizadas, despertó en mí una necesidad: quería <strong>crear soluciones desde el
                            código</strong>. Cuando descubrí la programación, me sentí en mi elemento, podía combinar la
                        lógica técnica con mi lado creativo.
                    </p>
                    <p>Hoy en día, me enfoco en el desarrollo web <strong>full stack</strong>. Para mí, cada proyecto
                        representa un nuevo
                        reto: ¿cómo puedo optimizar los procesos? ¿Qué solución técnica podría mejorar la experiencia
                        del usuario? <strong>¿Cómo asegurarme de que sea accesible para todos?</strong>
                    </p>
                    <p>¿Qué es lo que realmente me impulsa? Esa chispa cuando el código logra solucionar un problema
                        real.</p>
                </div>
            </div>
        </div>
    </div>
</section>