<section class="bg-white d-flex flex-column min-vh-100">
  <header>
    <app-navbar></app-navbar>
  </header>
  <main class="flex-grow-1 center" style="margin-top: 90px;">
    <div class="container my-4">
      <router-outlet />
    </div>
    <div class="custom-cursor" #cursor></div>
    <div class="tooltip" #tooltip></div>
  </main>
  <footer class="text-center weight-500 p-4 fs-5">
    <div class="social-media">
      <a href="mailto:“pgutierrezrivas@gmx.es" target=“_blank”><i class="bi bi-envelope" aria-label="Contáctame por email" data-tooltip="Contáctame por email"></i></a>
      <a href="https://www.linkedin.com/in/pgutierrezrivas/" target=“_blank”><i class="bi bi-linkedin" aria-label="Ver mi Linkedin" data-tooltip="Ver mi Linkedin"></i></a>
      <a href="https://github.com/pgutierrezrivas" target=“_blank”><i class="bi bi-github" aria-label="Ver mi Github" data-tooltip="Ver mi Github"></i></a>
    </div>
    <div class="copyright pt-2">
      <small>&copy;2024 Patricia Gutiérrez Rivas. Todos los derechos reservados.</small>
    </div>
  </footer>
</section>