<section>
    <div class="row center">
        <div class="text-box col-12 col-lg-4 text-center">
            <h1>Estudiante CFGS DAW</h1>
            <h2><span>Desarrolladora Web</span></h2>
            <h3 class="my-4">
                Técnica Superior en Desarrollo de Aplicaciones WEB con especialidad en MEAN y Full Stack
            </h3>
            <a class="btn btn-blue mb-4 text-uppercase fw-semibold px-4" [routerLink]="['/about']" routerLinkActive="active">Más sobre mi</a>
            <h3>pgutierrezrivas&#64;gmx.es</h3>
        </div>
        <div class="img-box col-12 col-lg-7">
            <img src="assets/images/img-home.png" alt="fondo-collage" class="img-fluid">
            <!-- Imagen collage compuesta por mi de la unión de 5 imágenes de la web <a href="https://icons8.com/illustrations/style--glow"> -->
        </div>
    </div>
</section>