<section>
    <div class="container">
        <h3 class="text-center mb-5">
            <em>"Soy más feliz cuando estoy creando, aprendiendo, explorando y pensando en cómo mejorar las
                cosas."</em>
        </h3>
        <div class="row g-5">
            @for (project of myProjects; track project.id) {
            <article class="col-lg-4">
                <app-project-card [myProject]="project"></app-project-card>
            </article>
            } @empty {
            <p>No hay proyectos disponibles</p>
            }
        </div>
    </div>
</section>