<div class="card text-center h-100">
    <figure>
        <img class="card-img-top img-fluid" [src]="myProject.image" [alt]="myProject.title || 'Project image'">
    </figure>
    <div class="card-body">
        <h3 class="card-title text-purple fw-bold">{{myProject.title}}</h3>
        <p class="card-text">{{myProject.tags}}</p>
        <p><a [href]="myProject.githubUrl" class="btn btn-yellow fs-5 py-0" target="_blank">Código Github</a></p>
        <p><a [href]="myProject.demoUrl" class="btn btn-blue text-uppercase fw-semibold px-4" target="_blank">Ir a la demo</a></p>
    </div>
</div>