/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&display=swap');

* {
    font-family: "Shadows Into Light", cursive;
    color: #04194D;
}

.border-blue {
    border-bottom: 2px solid #04194D;
}

.weight-500 {
    font-weight: 500;
}

.color-blue {
    color: #04194D;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3 {
    padding: 0 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.font-dm {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.00875rem;
}

.font-ibm {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -1px;
}